section.title {
  margin: 2rem 6.25rem;
}

div.title__div {
  align-content: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

div.title__container {
  width: calc(100% - 23rem);
}

div.title__container h2 {
  font-size: 3.3125rem;
  font-weight: 700;
  line-height: 3.8125rem;
  margin-bottom: 1.5rem;
  max-width: 46.875rem;
}

section.title img.title__profile {
  max-width: 23rem;
}

section.title div.title__div div.title__container h3 {
  font-size: 1.3125rem;
  font-style: normal;
  line-height: 1.625rem;
  font-weight: 400;
  max-width: 46.875rem;
}

section.title div.title__div div.title__container ul {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0;
  width: 29.1875rem;
}

/* Responsividade */

@media screen and (min-width: 22.5rem) {
  section.title {
    margin: 0;
    padding: 1rem 0 1rem 1rem;
  }

  section.title img.title__profile {
    max-width: 6.125rem;
  }

  div.title__div {
    flex-direction: column;
  }
}
