section.title {
    margin: 32px 100px;
}

div.title__container {
    width: calc(100% - 368px);
}

div.title__container h2 {
    font-size: 53px;
    font-weight: 700;
    line-height: 61px;
    max-width: 750px;
    margin-bottom: 24px;
}

div.title__div {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

section.title img.title__profile {
    width: 368px;
}

section.title div.title__div div.title__container h3 {
    font-size: 21px;
    line-height: 26px;
    max-width: 750px;
    font-style: normal;
    font-weight: 400;
}

section.title div.title__div div.title__container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 16px;
    width: 467px;
}
